body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background: var(--gunmetal);
  color: var(--babypowder);

}

textarea {
  font-weight: 900;
  background: transparent;
  border: none;
  resize: none;
  outline: none;
  border-left: 1px solid var(--babypowder);
  color: var(--gunmetal) !important;
  background: var(--gunmetal) !important;
  padding: 10px;
}

textarea:focus-visible {
  border: none;
  resize: none;
  outline: none;
}

:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0px;
}

.saveButton:focus {
  outline: -webkit-focus-ring-color auto 1px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: var(--babypowder);
  border-radius: 0;
  border-bottom: 10px solid var(--default);
  margin-bottom: 5rem;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

/* Commented these out, put my own styles in  */

/* .row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
} */


:root {
  --past: #760C05;
  --present: #1C872F;
  --default: #25A792;
  --gunmetal: #223843;
  --babypowder: #FFFFFC;
}

.past {
  background-color: var(--past) !important;
  color: var(--babypowder) !important;
}

.present {
  background-color: #ff6961 !important;
  color: var(--babypowder) !important;
}

.future {
  background-color: #77dd77 !important;
  color: var(--babypowder) !important;
}

/* .saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
} */


/* Begin Custom CSS */

/* Imported Montserrat,  Stix Two Math, Lexend*/
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=STIX+Two+Math&display=swap');

::selection {
  background: var(--babypowder);
  color: var(--gunmetal);
}

::placeholder {
  color: #ddd;
}

#currentDay {
  font-weight: 900;
}

.hourRowsContainer {
  padding-bottom: 7em;
}

.hourRow {
  display: flex;
  /* width: 100%; */
  height: 7em;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid var(--babypowder);
}

.hour {
  height: 100%;
  font-weight: 900;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  color: var(--babypowder);
  border: 5px solid var(--default);
  border-left: 10px solid var(--default);
  background: var(--default);
}

.hourRow:first-child .hour, .hourRow:first-child .userInputField , .hourRow:first-child .saveButton {
  border-top: 10px solid var(--default);
}

.hourRow:first-child {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.hourRow:first-child .hour {
  border-top-left-radius: 25px;
}

.hourRow:first-child .saveButton {
  border-top-right-radius: 25px;
}

.hourRow:last-child .hour, .hourRow:last-child .userInputField , .hourRow:last-child .saveButton {
  border-bottom: 10px solid var(--default);
}

.hourRow:last-child {
  border-bottom: none;
}

.hourRow:last-child .hour {
  border-bottom-left-radius: 25px;
}

.hourRow:last-child .saveButton {
  border-bottom-right-radius: 25px;
}

.userInputField {
  height: 100%;
  width: 75%;
  display: flex;
  align-items: flex-start;
  background: none;
  color: var(--babypowder);
  border: 5px solid var(--default);
  background: var(--gunmeta);
  padding: 1em;
  font-weight: 900;
}

.saveButton {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
   background: none;
  color: var(--babypowder);
  border: 5px solid var(--default);
  border-right: 10px solid var(--default);
  background: var(--default);
}

.saveButton i {
  font-size: 2em;
}