body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background: var(--gunmetal);
  color: var(--babypowder);

}

textarea {
  font-weight: 900;
  background: transparent;
  border: none;
  resize: none;
  outline: none;
  border-left: 1px solid var(--babypowder);
  color: var(--gunmetal) !important;
  background: var(--gunmetal) !important;
  padding: 10px;
}

textarea:focus-visible {
  border: none;
  resize: none;
  outline: none;
}

:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0px;
}

.saveButton:focus {
  outline: -webkit-focus-ring-color auto 1px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: var(--babypowder);
  border-radius: 0;
  border-bottom: 10px solid var(--default);
  margin-bottom: 5rem;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

/* Commented these out, put my own styles in  */

/* .row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
} */


:root {
  --past: #760C05;
  --present: #06c3a4;
  --future: #77dd77;
  --default: #25A792;
  --null: #28907f;
  --gunmetal: #223843;
  --babypowder: #FFFFFC;
}

.past {
  background: var(--default) !important;
  color: var(--babypowder) !important;
}

.eventContainer.past {
  background: url(/assets/images/WorkDayPlannerLogo.png),var(--default) !important;
  background-size: 20% !important;
  background-repeat: no-repeat !important;
  background-position: 90% 50% !important;
}
.eventContainer.present {
  background: url(/assets/images/WorkDayPlannerLogo.png),var(--present) !important;
  background-size: 20% !important;
  background-repeat: no-repeat !important;
  background-position: 90% 50% !important;
}
.eventContainer.future {
  background: url(/assets/images/WorkDayPlannerLogo.png),var(--null) !important;
  background-size: 20% !important;
  background-repeat: no-repeat !important;
  background-position: 90% 50% !important;
}

.present {
  background: var(--present) !important;
  color: var(--babypowder) !important;
}

.future {
  background: var(--null) !important;
  color: var(--babypowder) !important;
}

/* Begin Custom CSS */

#bannerIcon {
  color: var(--default);
  border: solid 7px var(--babypowder);
  border-radius: 100%;
  background: var(--babypowder);
}

/* Imported Montserrat,  Stix Two Math, Lexend*/
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=STIX+Two+Math&display=swap');

::selection {
  background: var(--babypowder);
  color: var(--gunmetal);
}

::placeholder {
  color: #ddd;
}

.present::placeholder {
  color: #fff;
}

#currentDay {
  font-weight: 900;
}

.hourRowsContainer {
  padding-bottom: 7em;
}

.hourRow {
  display: flex;
  /* width: 100%; */
  height: 7em;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid var(--babypowder);
}

.hour {
  height: 100%;
  font-weight: 900;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  color: var(--babypowder);
  border: 5px solid var(--default);
  border-left: 10px solid var(--default);
  background: var(--default);
}

.hourRow:first-child .hour, .hourRow:first-child .userInputField , .hourRow:first-child .saveButton, .hourRow:first-child .eventContainer {
  border-top: 10px solid var(--default);
}

.hourRow:first-child {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.hourRow:first-child .hour {
  border-top-left-radius: 25px;
}

.hourRow:first-child .saveButton {
  border-top-right-radius: 25px;
}

.hourRow:last-child .hour, .hourRow:last-child .userInputField , .hourRow:last-child .saveButton, .hourRow:last-child .eventContainer {
  border-bottom: 10px solid var(--default);
}

.hourRow:last-child {
  border-bottom: none;
}

.hourRow:last-child .hour {
  border-bottom-left-radius: 25px;
}

.hourRow:last-child .saveButton {
  border-bottom-right-radius: 25px;
}

.userInputField {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: flex-start;
  background: none;
  color: var(--babypowder);
  border: 5px solid var(--default);
  background: var(--gunmeta);
  padding: 1em;
  font-weight: 900;
}

.eventContainer {
  position: relative;
  background: url(/assets/images/WorkDayPlannerLogo.png), var(--null);
  background-blend-mode: soft-light;
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 90% 50%;
  height: 100%;
  display: flex;
  width: 25%;
  padding: 1em 0.5em;
  align-items: flex-start;
  border: 5px solid var(--default);
  flex-direction: row;
  text-align: left;
  justify-content: flex-start;
  overflow-y: scroll;
  flex-wrap: wrap;
}

.eventContainer::before {
  content: 'Events';
  position: absolute;
  top: 42%;
  right: 9%;
  font-size: .8em;
  font-style: italic;
  color: rgb(255 255 255 / 68%);
  font-weight: 700;
}

.event {
  font-size: .8em;
  font-style: italic;
  width: 50%;
  font-weight: 600;
}

.saveButton {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  color: var(--babypowder);
  border: 5px solid var(--default);
  border-right: 10px solid var(--default);
  background: url(/assets/images/save-icon.svg), var(--default);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 50% 50%;
  transition: 150ms ease-in-out;
}

.saveButton:active {
  background: url(/assets/images/save-icon.svg),var(--null);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 50% 50%;
  transition: 150ms ease-in-out;
}

::-webkit-scrollbar {
  background: var(--gunmetal);
  opacity: 0;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--babypowder);
  width: 5px;
}
::-webkit-scrollbar-corner {
  display: none;
  height: 0;
}
::-webkit-scrollbar-track-piece {
  display: none;
  height: 0;
}
::-webkit-scrollbar-button {
  display: none;
  height: 0;
}
